<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.css" />
</head>

<body ng-app='weather-app'>

<div ng-controller="searchController">
    <div class="container">
        <header class="row">
            <logo-template class="col-xs-12 col-md-4 col-sm-4"></logo-template>
            <search-directive class="col-xs-12 col-sm-8 col-md-8 text-right"></search-directive>
        </header>
    </div>
    
    <h1> {{city}}</h1>
    <h1> {{state}}</h1>

</div>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="../module/weather-app.js"></script>
    <script src="../controllers/searchController.js"></script>
    <script src="../services/weather-service.js"></script>
    <script src="../directives/logo-directive.js"></script>
    <script src="../directives/search-directive.js"></script>
</body>

</html>