* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.row {
  margin: 0 0 0 0;
}
header {
  width: 100%;
  margin: 0 auto;
}
header logo-template h1 {
  text-align: center;
}
header search-directive.col-xs-12.col-sm-8.col-md-8 form {
  text-align: center;
}
header input[type="text"] {
  height: 30px;
  text-align: center;
}
header input[type="submit"] {
  display: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header logo-template h1 {
    text-align: left;
  }
  header search-directive.col-xs-12.col-sm-8.col-md-8 {
    margin-top: 28px;
  }
  header search-directive.col-xs-12.col-sm-8.col-md-8 form {
    text-align: right;
  }
  header input[type="text"] {
    height: 30px;
  }
  header input[type="submit"] {
    display: initial;
    height: 30px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  header logo-template h1 {
    text-align: left;
  }
  header search-directive.col-xs-12.col-sm-8.col-md-8 {
    margin-top: 28px;
  }
  header search-directive.col-xs-12.col-sm-8.col-md-8 form {
    text-align: right;
  }
  header input[type="text"] {
    height: 30px;
  }
  header input[type="submit"] {
    display: initial;
    height: 30px;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  header logo-template h1 {
    text-align: left;
  }
  header search-directive.col-xs-12.col-sm-8.col-md-8 {
    margin-top: 28px;
  }
  header search-directive.col-xs-12.col-sm-8.col-md-8 form {
    text-align: right;
  }
  header input[type="text"] {
    height: 30px;
  }
  header input[type="submit"] {
    display: initial;
    height: 30px;
  }
}
